@model Clase3.MVC.Entidades.Automovil
@{
}
<form method="post">
	<div>
		<label asp-for="Marca" class="control-label"></label>
		<input asp-for="Marca" class="form-control" />
	</div>
	<div>
		<label asp-for="Modelo" class="control-label"></label>
		<input asp-for="Modelo" class="form-control" />
	</div>
	<div>
		<label asp-for="Foto" class="control-label"></label>
		<input asp-for="Foto" class="form-control" />
	</div>

	<button type="submit" class="btn btn-primary">Guardar</button>
</form>
